body {
	padding: 5px;
	background-color: #226a8f;
}

.navbar-brand span {
	color: #c52442;
	font-weight: bolder;
}

.navContainer {

}

.appContainer {
	
}

.lead {
	color: #fff;
}

.timerControls {
	display: inline;
}

.marginTop1x {
	top: 5px;
}

/* ********************************** */
/* Take out for production version!!! */
/* ********************************** */
.fixedUR {
	position: fixed;
  top: 0px;
  left: 0px;
  padding: 0 2px;
  background-color: #E88B1A;
  border: 1px solid #000;
}
/* ********************************** */
/* ********************************** */
/* ********************************** */

/*
make this appear on hover
<i class='glyphicon glyphicon-arrow-right'></i>
*/

/*
#32FF53  lime green		
#4BE82E	mossy green		
#A0FF3F 	pea green		background
#CDE82E 	mustard green	
#FFF332 	mustard			
*/