body {
	padding: 5px;
	background-color: #226a8f;
}

.navbar-brand span {
	color: #c52442;
	font-weight: bolder;
}

.navContainer {

}

.appContainer {
	
}

.xxxxxxx {
	
}

.xxxxxxx {
	
}

.xxxxxxx {
	
}

.xxxxxxx {
	
}

/*
make this appear on hover
<i class='glyphicon glyphicon-arrow-right'></i>
*/

/*
#32FF53  lime green		
#4BE82E	mossy green		
#A0FF3F 	pea green		background
#CDE82E 	mustard green	
#FFF332 	mustard			
*/